<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- tailwind css stylesheet -->
    <link rel="stylesheet" href="public/styles.css" />
    <!-- style sheet for animation -->
    <link rel="stylesheet" href="public/new.css">
    <!-- font roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Sahil P Jose</title>
  </head>
  <body class="bg-black md:h-screen md:max-h-screen lg:overflow-hidden">
    <div id="mainPage">
      <!-- main page -->
    <transition name="bounce" mode="out-in">
    <div v-if="showIntro">
      <div class="flex flex-col md:flex-row md:h-screen max-w-screen-lg mx-auto">
        <div class="w-1/2 flex flex-col m-auto relative justify-center mt-40 md:mt-20 mb-20">
          <div
            class="min-h-1/2 md:w-2/3 md:ml-24 justify-center inline-block align-middle transform rotate-25 hover:rotate-0 rounded-md m-auto bg-white z-30 absolute shadow-lg"
          >
            <img
            src="public/assets/gallery/thumbnail/12.jpg"
            class="object-scale-down p-2 pb-6 lg:p-4 lg:pb-10"
            loading="lazy"
            alt=""/>
          </div>
          <div
            class="h-40 w-full md:min-h-1/2 md:ml-24 md:w-2/3  justify-center inline-block align-middle transform rotate-15 rounded-md m-auto bg-white z-20 absolute shadow-lg"
          >
          </div> 
          <div
            class="h-40 w-full md:min-h-1/2 md:w-2/3 md:ml-24 justify-center inline-block align-middle rounded-md bg-white z-10 object-center shadow-lg"
          >
          </div>
        </div>
        <div class="w-full md:w-1/3 m-auto md:flex flex-col justify-center z-40 mt-32 md:mt-32">
          <p class="text-white text-center text-3xl md:text-4xl z-40 m-2 -mt-24 md:mt-0">Photos By</p>
          <p class="text-white text-center text-4xl md:text-6xl z-40 m-2">Sahil P Jose</p>
          <div class="flex justify-center m-4 mb-8">
              <button class="btn bg-yellow-500 hover:bg-yellow-700 py-2 md:py-4 font-semibold mr-12">Gallery</button>
              <button class="btn bg-gray-500 hover:bg-gray-700 py-2 md:py-4 font-semibold" v-on:click="showIntro = !showIntro">About</button>
          </div>
          <div class="flex justify-center m-4 mb-8">
            <img class="text-white fill-current h-8 w-10 md:h-12 md:w-16 mr-6 transform hover:scale-110" src="public/assets/icons/facebook.svg"></img>
            <img class="text-white h-8 w-10 md:h-12 md:w-16 transform hover:scale-110" src="public/assets/icons/instagram.svg"></img>
        </div>
      </div>
      </div> 
    </div>
    </transition>
      <!-- main page ended -->
      <!-- <transition name="bounce" mode="out-in"> -->
      <div v-if="!showIntro">
        <!-- contact section of the page -->
      <div class="flex flex-col md:flex-row max-w-screen-lg  mx-auto">
        
        <div class="w-full md:w-1/2 flex items-center">
          
          <div class="flex flex-col mx-auto">
            <img
              src="public/assets/gallery/pro1.jpeg"
              class="h-64 w-64 mx-auto rounded-full m-6"
              alt=""
            /> 
            <p class="text-6xl text-white text-center p-2">Sahil P Jose</p>
          </div>
        </div>
        <div class="md:h-screen md:w-1/2 flex flex-col">
          <div class="mx-auto my-auto p-6">
              <p class="text-white text-xl">
                Pergo coctione, et ego, et tu oblivisci Pinkman. Obliviscendum hoc
                unquam factum. Intelligamus hoc in sola SINGULTO multo aliter atque
                fructuosa negotium structura. Malo B. Option. Ille vivere. Ut ad te
                quaerebam ... purgare caeli. Sunt uh ... nonnullus propter errorem qui
                de rebus inter nos et iacere puto suus in causa, id est in mensa. Levir
                meus, priusquam oppugnarent tempus quis, admonere dicitur. Credo quod
                idem mihi praesidium.
              </p>
              <div class="flex justify-center">
                <button class="btn bg-gray-500 hover:bg-gray-700 w-1/3 py-2 mx-auto md:py-4 mt-4 font-semibold" v-on:click="showIntro = !showIntro">Back</button>
              </div>
              
            
          </div>
          </div>
      </div>   
    <!-- contact section ended -->

      </div>
    <!-- </transition> -->
    </div>
    

          
    <script src="public/js/sahil.js"></script>
  </body>
</html>
